#service vendor.helloalex /system/bin/logwrapper /vendor/bin/hw/android.hardware.helloalex@1.0-service
service vendor.helloalex /vendor/bin/hw/android.hardware.helloalex@1.0-service
    class hal
    user system
    group system


service data.helloalex /data/android.hardware.helloalex@1.0-service
    class hal
    user system
    group system
